{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<h1>Food Cart</h1>

<table>
	{% for item in cart %}
	<tr>

		<td>
			{{item.name}}

		</td>
		<td>{{item.quantity}}</td>
		<td>
			
		</td>
		<td class="num">$ {{item.price}}</td>
		<td class="num">$ {{item.total_price}}</td>
	</tr>
	{% endfor %}
    <tr class="total">
        <td> Total</td>
        <td class="col-span-4"></td>
        <td class="num"> $ {{cart.get_total_price}}</td>
    </tr>
</table>

<p class="text-right">
<a href="{% url 'menu'%}" class="button light"> Continue Ordering</a>
<a href="#" class="button"> Checkout</a>
</p>

{% endblock %}