{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<h1>Food Cart</h1>

<table>

	<div class="row ml-3 mb-5">
		<div class="col-3 themed-grid-col">Choice:</div>
        <div class="col-3 themed-grid-col">Price:</div>
		<div class="col-3 themed-grid-col">Quantity:</div>
	</div>
	




	<div class="row ml-3 order_detail">
		<div class="col-3 themed-grid-col"></div>
		<div class="col-3 themed-grid-col">
		</div>
        <div class="col-3 themed-grid-col">
			<form action="{% url 'cart:cart_add' id %} " method="POST">{% csrf_token %}
				
	
				<input type="submit" class="btn btn-sm btn-light" value="Update">
            </form>
		</div>
		<div class="col-3 themed-grid-col">
			<form action="#" method="POST">
				{% csrf_token %}
				<input type="submit" value="remove" class="btn btn-danger text-right">

            </form>
		</div>
	</div>

	<tr class="total">
		<td class="ml-8"> <h4>Total:</h4></td>
		<td class="num"> </td>
	</tr>
</table>

<p class="text-right">
	<a href="{% url 'menu'%}" class="btn btn-primary"> Continue Ordering</a>
</p>

{% endblock %}