{% extends 'base.html' %}
{% block content %}

<h1>Hamburger</h1>
<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-3 themed-grid-col">
			<strong>Name</strong>
		</div>
		<div class="col-3 themed-grid-col">
			<strong>Description</strong>
		</div>
		<div class="col-3 themed-grid-col">
			<strong>Price</strong>
		</div>
	</div>
	<hr class="mb-4 mt-4">

{% for h in hamburger %}
	<div class="row ml-1">
		<div class="col-3 themed-grid-col">{% if request.user.is_superuser %}
			<small class="ml-3">
                            <a href="{% url 'edit_food' h.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_food' h.id %}">Delete</a> | 
                        </small>
			{% endif %}{{h.name}}
		</div>
		<div class="col-3 themed-grid-col">{{h.description}}</div>
		<div class="col-3 themed-grid-col">${{h.price}} </div>
		<div class="col-3 themed-grid-col">
			<form class="form" action="{% url 'add_to_cart' h.id %}" method="POST">
				{% csrf_token %}
				<p><strong>Quantity:</strong></p>

				<input class="form-control qty_input w-25" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ h.id }}" id="id_qty_{{ h.id }}">

				<input type="submit" class="btn btn-sm btn-danger text-uppercase mt-4" value="Add to cart">

				<input type="hidden" name="redirect_url" value="{{ request.path }}">
				</div>
			</form>
		</div>
		<hr>
	</div>
</div>


{% endfor  %}


{% endblock%}