{% extends 'base.html' %}


{% block content %}

<h1>Pizza</h1>


{% for p in pizza %}
<div class="row ml-3">
	<div class="col-3 themed-grid-col">{{p.name}}</div>
	<div class="col-3 themed-grid-col">{{p.description}}</div>
	<div class="col-3 themed-grid-col">${{p.price}}</div>
	<form class="form" action="{% url 'add_to_cart' p.id %}" method="POST">
		{% csrf_token %}
		<div class="form-row">
			<div class="col-12">
				<p class="mt-3"><strong>Quantity:</strong></p>
				<div class="form-group w-50">
				
						</div>
						<input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ p.id }}" id="id_qty_{{ p.id }}">
                                    </div>
                          
					</div>

				</div>

				<div class="col-12">

					<input type="submit" class="btn btn-danger rounded-0 text-uppercase mt-5" value="Add to cart">
                            </div>
					<input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
	</form>
</div>

{% endfor  %}


{% endblock%}